<a href="https://colab.research.google.com/github/AKashkv02/Practice-materials/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [39]:
import pyspark

In [40]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()
spark

In [41]:
import pandas as pd 
df=pd.read_csv('/content/Book1.csv')
df

      Name  Age  Experience
0    Akash   25           3
1    Ashok   28           8
2  Rajath    30           2
3  Goutham   25           1
4   Jeevan   25           2

In [42]:
#read the dataset
df_py=spark.read.csv('/content/Book1.csv')
df_py

DataFrame[_c0: string, _c1: string, _c2: string]

In [43]:
 df_py.show()

+-------+---+----------+
|    _c0|_c1|       _c2|
+-------+---+----------+
|   Name|Age|Experience|
|  Akash| 25|         3|
|  Ashok| 28|         8|
|Rajath | 30|         2|
|Goutham| 25|         1|
| Jeevan| 25|         2|
+-------+---+----------+

In [48]:
#another way or reading the dataset
df_py=spark.read.option('header','true').csv('/content/Book1.csv',inferSchema=True)
df_py.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  Akash| 25|         3|
|  Ashok| 28|         8|
|Rajath | 30|         2|
|Goutham| 25|         1|
| Jeevan| 25|         2|
+-------+---+----------+

In [45]:
type(df_py)

pyspark.sql.dataframe.DataFrame

In [46]:
df_py.head(5)

[Row(Name='Akash', Age='25', Experience='3'),
 Row(Name='Ashok', Age='28', Experience='8'),
 Row(Name='Rajath ', Age='30', Experience='2'),
 Row(Name='Goutham', Age='25', Experience='1'),
 Row(Name='Jeevan', Age='25', Experience='2')]

In [49]:
#check the schema to check the datatype of column
df_py.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [50]:
#another way of reading dataset with header and shema
#without infer schema every column is treated as string type
df_py=spark.read.csv('/content/Book1.csv',header=True,inferSchema=True)
df_py.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  Akash| 25|         3|
|  Ashok| 28|         8|
|Rajath | 30|         2|
|Goutham| 25|         1|
| Jeevan| 25|         2|
+-------+---+----------+

In [51]:
df_py.columns

['Name', 'Age', 'Experience']

In [52]:
#how to select a column
df_py.select('Name')

DataFrame[Name: string]

In [53]:
df_py.select('Name').show()

+-------+
|   Name|
+-------+
|  Akash|
|  Ashok|
|Rajath |
|Goutham|
| Jeevan|
+-------+

In [55]:
type(df_py.select('Name'))

pyspark.sql.dataframe.DataFrame

In [57]:
#select multiple columns 
df_py.select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Akash| 25|
|  Ashok| 28|
|Rajath | 30|
|Goutham| 25|
| Jeevan| 25|
+-------+---+

In [58]:
#check the datatypes of columns
df_py.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [60]:
#statistics summary
df_py.describe().show()

+-------+-------+-----------------+------------------+
|summary|   Name|              Age|        Experience|
+-------+-------+-----------------+------------------+
|  count|      5|                5|                 5|
|   mean|   null|             26.6|               3.2|
| stddev|   null|2.302172886644268|2.7748873851023212|
|    min|  Akash|               25|                 1|
|    max|Rajath |               30|                 8|
+-------+-------+-----------------+------------------+

In [63]:
#Adding columns in data frame
df_py=df_py.withColumn('Experience after 2 years',df_py['Experience']+2)
df_py.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience after 2 years|
+-------+---+----------+------------------------+
|  Akash| 25|         3|                       5|
|  Ashok| 28|         8|                      10|
|Rajath | 30|         2|                       4|
|Goutham| 25|         1|                       3|
| Jeevan| 25|         2|                       4|
+-------+---+----------+------------------------+

In [65]:
#Drop the columns
df_py1=df_py.drop('Experience after 2 years')
df_py1.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  Akash| 25|         3|
|  Ashok| 28|         8|
|Rajath | 30|         2|
|Goutham| 25|         1|
| Jeevan| 25|         2|
+-------+---+----------+

In [67]:
#Rename the columns
df_py1.withColumnRenamed('Name','First_name').show()

+----------+---+----------+
|First_name|Age|Experience|
+----------+---+----------+
|     Akash| 25|         3|
|     Ashok| 28|         8|
|   Rajath | 30|         2|
|   Goutham| 25|         1|
|    Jeevan| 25|         2|
+----------+---+----------+

#Handling missing values

In [97]:
 df1=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Pyspark-With-Python/main/test2.csv')
 df1.to_csv('test.csv')

In [98]:
df_py2=spark.read.csv('/content/test.csv',header=True,inferSchema=True)
df_py2.show()

+---+---------+----+----------+-------+
|_c0|     Name| age|Experience| Salary|
+---+---------+----+----------+-------+
|  0|    Krish|31.0|      10.0|30000.0|
|  1|Sudhanshu|30.0|       8.0|25000.0|
|  2|    Sunny|29.0|       4.0|20000.0|
|  3|     Paul|24.0|       3.0|20000.0|
|  4|   Harsha|21.0|       1.0|15000.0|
|  5|  Shubham|23.0|       2.0|18000.0|
|  6|   Mahesh|null|      null|40000.0|
|  7|     null|34.0|      10.0|38000.0|
|  8|     null|36.0|      null|   null|
+---+---------+----+----------+-------+

In [99]:
#drop the columns
df_py2=df_py2.drop('_c0')
df_py2.show()

+---------+----+----------+-------+
|     Name| age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|31.0|      10.0|30000.0|
|Sudhanshu|30.0|       8.0|25000.0|
|    Sunny|29.0|       4.0|20000.0|
|     Paul|24.0|       3.0|20000.0|
|   Harsha|21.0|       1.0|15000.0|
|  Shubham|23.0|       2.0|18000.0|
|   Mahesh|null|      null|40000.0|
|     null|34.0|      10.0|38000.0|
|     null|36.0|      null|   null|
+---------+----+----------+-------+

In [100]:
#how to drop null values
df_py2.na.drop().show()

+---------+----+----------+-------+
|     Name| age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|31.0|      10.0|30000.0|
|Sudhanshu|30.0|       8.0|25000.0|
|    Sunny|29.0|       4.0|20000.0|
|     Paul|24.0|       3.0|20000.0|
|   Harsha|21.0|       1.0|15000.0|
|  Shubham|23.0|       2.0|18000.0|
+---------+----+----------+-------+

In [101]:
#threshold
df_py2.na.drop(how='any',thresh=2).show()

#atleast two non null values should be there

+---------+----+----------+-------+
|     Name| age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|31.0|      10.0|30000.0|
|Sudhanshu|30.0|       8.0|25000.0|
|    Sunny|29.0|       4.0|20000.0|
|     Paul|24.0|       3.0|20000.0|
|   Harsha|21.0|       1.0|15000.0|
|  Shubham|23.0|       2.0|18000.0|
|   Mahesh|null|      null|40000.0|
|     null|34.0|      10.0|38000.0|
+---------+----+----------+-------+

In [102]:
#subset
df_py2.na.drop(how='any',subset=['Age']).show()

+---------+----+----------+-------+
|     Name| age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|31.0|      10.0|30000.0|
|Sudhanshu|30.0|       8.0|25000.0|
|    Sunny|29.0|       4.0|20000.0|
|     Paul|24.0|       3.0|20000.0|
|   Harsha|21.0|       1.0|15000.0|
|  Shubham|23.0|       2.0|18000.0|
|     null|34.0|      10.0|38000.0|
|     null|36.0|      null|   null|
+---------+----+----------+-------+

In [103]:
#Filling the missing value
df_py2.na.fill(0).show()

+---------+----+----------+-------+
|     Name| age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|31.0|      10.0|30000.0|
|Sudhanshu|30.0|       8.0|25000.0|
|    Sunny|29.0|       4.0|20000.0|
|     Paul|24.0|       3.0|20000.0|
|   Harsha|21.0|       1.0|15000.0|
|  Shubham|23.0|       2.0|18000.0|
|   Mahesh| 0.0|       0.0|40000.0|
|     null|34.0|      10.0|38000.0|
|     null|36.0|       0.0|    0.0|
+---------+----+----------+-------+

In [104]:
df_py2.na.fill(0,['age','Experience']).show()

+---------+----+----------+-------+
|     Name| age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|31.0|      10.0|30000.0|
|Sudhanshu|30.0|       8.0|25000.0|
|    Sunny|29.0|       4.0|20000.0|
|     Paul|24.0|       3.0|20000.0|
|   Harsha|21.0|       1.0|15000.0|
|  Shubham|23.0|       2.0|18000.0|
|   Mahesh| 0.0|       0.0|40000.0|
|     null|34.0|      10.0|38000.0|
|     null|36.0|       0.0|   null|
+---------+----+----------+-------+

In [105]:
from pyspark.ml.feature import Imputer 
imputer=Imputer(
    inputCols=['age','Experience','Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['age','Experience','Salary']]
).setStrategy('mean')

In [106]:
#dd imputation columns to df
imputer.fit(df_py2).transform(df_py2).show()

+---------+----+----------+-------+-----------+------------------+--------------+
|     Name| age|Experience| Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+-------+-----------+------------------+--------------+
|    Krish|31.0|      10.0|30000.0|       31.0|              10.0|       30000.0|
|Sudhanshu|30.0|       8.0|25000.0|       30.0|               8.0|       25000.0|
|    Sunny|29.0|       4.0|20000.0|       29.0|               4.0|       20000.0|
|     Paul|24.0|       3.0|20000.0|       24.0|               3.0|       20000.0|
|   Harsha|21.0|       1.0|15000.0|       21.0|               1.0|       15000.0|
|  Shubham|23.0|       2.0|18000.0|       23.0|               2.0|       18000.0|
|   Mahesh|null|      null|40000.0|       28.5| 5.428571428571429|       40000.0|
|     null|34.0|      10.0|38000.0|       34.0|              10.0|       38000.0|
|     null|36.0|      null|   null|       36.0| 5.428571428571429|       25750.0|
+---------+----+----------+-------+-----------+------------------+--------------+

#Filter operation

In [107]:
df_py3=df_py2.na.drop()
df_py3.show()

+---------+----+----------+-------+
|     Name| age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|31.0|      10.0|30000.0|
|Sudhanshu|30.0|       8.0|25000.0|
|    Sunny|29.0|       4.0|20000.0|
|     Paul|24.0|       3.0|20000.0|
|   Harsha|21.0|       1.0|15000.0|
|  Shubham|23.0|       2.0|18000.0|
+---------+----+----------+-------+

In [108]:
#Salary less than 20000
df_py3.filter('Salary<=20000').show()

+-------+----+----------+-------+
|   Name| age|Experience| Salary|
+-------+----+----------+-------+
|  Sunny|29.0|       4.0|20000.0|
|   Paul|24.0|       3.0|20000.0|
| Harsha|21.0|       1.0|15000.0|
|Shubham|23.0|       2.0|18000.0|
+-------+----+----------+-------+

In [109]:
df_py3.filter('Salary<=20000').select(['Name','age']).show()

+-------+----+
|   Name| age|
+-------+----+
|  Sunny|29.0|
|   Paul|24.0|
| Harsha|21.0|
|Shubham|23.0|
+-------+----+

In [110]:
df_py3.filter((df_py3['Salary']<=20000) &
              (df_py3['Salary']>=15000)).show()

+-------+----+----------+-------+
|   Name| age|Experience| Salary|
+-------+----+----------+-------+
|  Sunny|29.0|       4.0|20000.0|
|   Paul|24.0|       3.0|20000.0|
| Harsha|21.0|       1.0|15000.0|
|Shubham|23.0|       2.0|18000.0|
+-------+----+----------+-------+

#Group by and Aggregate

In [111]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Agg').getOrCreate()
spark

In [113]:
df3=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Pyspark-With-Python/main/test3.csv')
df3.to_csv('group.csv')

In [116]:
df_gp=spark.read.csv('/content/group.csv',header=True,inferSchema=True)
df_gp=df_gp.drop('_c0')
df_gp.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [117]:
df_gp.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [119]:
#Groupby
df_gp.groupby('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [122]:
#Group by dep which gives max salary
df_gp.groupby('Departments').max().show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [123]:
df_gp.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

#Examples of pyspark ML

In [129]:
df_py3=df_py2.na.drop()
df_py3.show()

+---------+----+----------+-------+
|     Name| age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|31.0|      10.0|30000.0|
|Sudhanshu|30.0|       8.0|25000.0|
|    Sunny|29.0|       4.0|20000.0|
|     Paul|24.0|       3.0|20000.0|
|   Harsha|21.0|       1.0|15000.0|
|  Shubham|23.0|       2.0|18000.0|
+---------+----+----------+-------+

In [134]:
#[Age,Experience] ----> new feature ---> independent feature
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['age','Experience'],outputCol='Independent features')

In [135]:
output=featureassembler.transform(df_py3)
output.show()

+---------+----+----------+-------+--------------------+
|     Name| age|Experience| Salary|Independent features|
+---------+----+----------+-------+--------------------+
|    Krish|31.0|      10.0|30000.0|         [31.0,10.0]|
|Sudhanshu|30.0|       8.0|25000.0|          [30.0,8.0]|
|    Sunny|29.0|       4.0|20000.0|          [29.0,4.0]|
|     Paul|24.0|       3.0|20000.0|          [24.0,3.0]|
|   Harsha|21.0|       1.0|15000.0|          [21.0,1.0]|
|  Shubham|23.0|       2.0|18000.0|          [23.0,2.0]|
+---------+----+----------+-------+--------------------+

In [136]:
final_data=output.select('Independent features','Salary')
final_data.show()

+--------------------+-------+
|Independent features| Salary|
+--------------------+-------+
|         [31.0,10.0]|30000.0|
|          [30.0,8.0]|25000.0|
|          [29.0,4.0]|20000.0|
|          [24.0,3.0]|20000.0|
|          [21.0,1.0]|15000.0|
|          [23.0,2.0]|18000.0|
+--------------------+-------+

In [149]:
from pyspark.ml.regression import LinearRegression
train_data,test_data=final_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent features',labelCol='Salary')
regressor=regressor.fit(train_data)

In [151]:
regressor.coefficients

DenseVector([28.4757, 1271.3568])

In [152]:
regressor.intercept

14299.83249581293

In [150]:
pred=regressor.evaluate(test_data)
pred.predictions.show()

+--------------------+-------+------------------+
|Independent features| Salary|        prediction|
+--------------------+-------+------------------+
|         [31.0,10.0]|30000.0|27896.147403685143|
+--------------------+-------+------------------+

In [154]:
pred.meanAbsoluteError,pred.meanSquaredError

(2103.852596314857, 4426195.747020763)